@import'public';
.focus-img{
	position: relative;
	width: 1200px;
	height: 100px;
}


.focus-img-con{
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}
.focus-img .change-bnt{
	display: block;
	width: 30px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-color: #B74343;
}
.focus-img .change-bnt.prev-bnt{
	left: 10px;
}
.focus-img .change-bnt.next-bnt{
	right: 10px;
}