@import'public';
body{
    -moz-user-select: none;
    /*火狐*/
    /*禁止用户在页面选择文字*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
/*列表*/
.list-product{
    background: #ededed;
    .selec-list{
        width: 1200px;
        margin: 0 auto;
        background: #ededed;
        .selec-btn{
            line-height: 19px;
            padding: 25px 0 16px 0;
            position: relative;
            .all{
                text-decoration: none;
                color: #666;
            }
            .all:hover{
                color: #e93b39;
            }
            i{
                display: inline-block;
                width: 20px;
                height: 12px;
                background: url(../img/list_icon.png) no-repeat 10px 4px;
            }
            .hhhi{
                text-decoration: none;
                color: #666;
                margin-left: 6px;
                padding: 4px;
                border: 1px solid transparent;
                position: absolute;
                top: 20px;
                z-index: 4;
                span{
                    margin-left: 4px;
                    margin-bottom: 2px;
                    display: inline-block;
                    width: 7px;
                    height: 4px;
                    background: url(../img/list_icon.png) no-repeat -20px 0;
                    transition: all .3s;
                }
            }
            .hide{
                display: none;
                box-shadow: 0 0 13px rgba(204,204,204,1);
                padding-left: 40px;
                background: #fff;
                border: 1px solid #ccc;
                margin-top: 3px;
                position: absolute;
                z-index: 2;
                ul{
                    width: 100%;
                    padding: 22px 0 16px 0;
                    li{
                        display: inline-block;
                        width: 9.7%;
                        margin-bottom: 8px;
                        height: 26px;
                        line-height: 26px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        a{
                            color: #666;
                        }
                        a:hover{
                            text-decoration: underline;
                            color: black;
                        }
                    }
                }
            }
        }
        .important-list{
            width: 1200px;
            background: #fff;
            box-shadow: 0 2px 5px rgba(204,204,204,1);
            .imp-ul{
                border-bottom: 1px dashed #ededed;
                position: relative;
                min-height: 46px;
                background: #f5f5f5;
                h4{
                    float: left;
                    width: 81px;
                    line-height: 45px;
                    padding-left: 30px;
                    color: #666;
                    font-weight: normal;
                }
                .lis{
                    padding: 7px 0 4px 0;
                    width: 1079px;
                    margin-left: 111px;
                    padding-left: 10px;
                    background: #fff;
                    li{
                        display: inline-block;
                        a{
                            display: inline-block;
                            text-decoration: none;
                            color: #666;
                            padding: 0 22px 0 10px;
                            width: 155px;
                            height: 22px;
                            text-indent: 5px;
                            margin: 5px 5px 5px 0;
                            padding-left: 5px;
                        }
                        a:hover{
                            color: #e93b39;
                        }
                    }
                }
                .add{
                    position: absolute;
                    right: 70px;
                    top: 18px;
                    span{
                        color: #666;
                    }
                    i{
                        display: inline-block;
                        width: 10px;
                        height: 12px;
                        background: url(../img/list_icon.png) no-repeat 0 -70px;
                    }
                }
                .add:hover span{
                    color: #e93b39;
                }
                .add:hover i{
                    background-position: 0 -89px;
                }
            }
            .imp-center{
                border-bottom: 1px dashed #ededed;
                position: relative;
                min-height: 46px;
                background: #f5f5f5;
                h4{
                    float: left;
                    width: 81px;
                    line-height: 45px;
                    padding-left: 30px;
                    color: #666;
                    font-weight: normal;
                    background: #f5f5f5;
                }
                .li-item{
                    padding: 3px 0 8px 0;
                    width: 1079px;
                    margin-left: 111px;
                    background: #fff;
                    padding-left: 10px;
                    li{
                        display: inline-block;
                        a{
                            display: inline-block;
                            text-decoration: none;
                            color: #666;
                            padding: 0 22px 0 10px;
                            margin: 12px 0 0;
                            white-space: nowrap;
                            height: 24px;
                        }
                        a:hover{
                            color: #e93b39;
                        }
                    }
                }
                .add{
                    position: absolute;
                    right: 70px;
                    top: 15px;
                    span{
                        color: #666;
                    }
                    i{
                        display: inline-block;
                        width: 10px;
                        height: 12px;
                        background: url(../img/list_icon.png) no-repeat 0 -70px;
                    }
                }
                .add:hover span{
                    color: #e93b39;
                }
                .add:hover i{
                    background-position: 0 -89px;
                }
            }
        }
        .more{
            width: 1200px;
            padding-bottom: 8px;
            margin-top: 1px;
            .see{
                position: relative;
                display: block;
                margin: 0 auto;
                text-indent: 12px;
                width: 80px;
                height: 21px;
                line-height: 21px;
                background: #fff;
                box-shadow:  0 2px 5px rgb(204,204,204);
                color: #666;
                cursor: pointer;
                i{
                    position: absolute;
                    top: 5px;
                    width: 20px;
                    height: 12px;
                    background: url(../img/list_icon.png) no-repeat 5px -109px;
                }
            }
            .see:hover span{
                color: #e93b39;
            }
            .see:hover i{
                background-position: 5px -424px;
            }
        }
    }
}
/*列表*/
/*图文列表*/
.proback{
    background: #ededed;
    padding-bottom: 100px;
    .product_box{
        background: #fff;
        width: 1200px;
        margin: 0 auto;
        box-shadow: 0 2px 5px rgb(204,204,204);
        position: relative;
        .pro_top{
            background: #fff;
            height: 40px;
            a{
                border-top: 2px solid transparent;
                display: inline-block;
                height: 29px;
                text-align: center;
                font-size: 18px;
                line-height: 18px;
                padding: 0 30px;
                padding-top: 9px;
                color: #999;
            }
            a:hover{
                color: #e93b39;
            }
            :nth-child(2){
                background: url(../img/listline.jpg) no-repeat center left;
                margin-left: -3px;
            }
        }
        .price{
            height: 44px;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 10;
            .pro_control{
                padding: 10px 30px 0;
                min-height: 30px;
                background: #f5f5f5;
                font-size: 0;
                position: relative;
                .pro_control_btn{
                    float: left;
                    margin-right: 10px;
                    a{
                        display: inline-block;
                        width: 45px;
                        height: 22px;
                        background: #fff;
                        text-indent: 6px;
                        border: 1px solid #ededed;
                        line-height: 20px;
                        margin-left: -3px;
                        position: relative;
                        border: 1px solid transparent;
                        color: #666666;
                        i{
                            position: absolute;
                            top: 6px;
                            width: 12px;
                            height: 12px;
                            background: url(../img/list_icon.png) no-repeat;
                            background-position: 5px -184px;
                        }
                        .double{
                            background-position: 5px -217px;
                        }
                    }
                    a:hover{
                        border: 1px solid #e93b39;
                    }
                    a:hover span{
                        color: #e93b39;
                    }
                    a:hover i{
                        background-position: 5px -204px;
                    }
                    a:hover .double{
                        background-position: 5px -245px;
                    }
                    .redbg{
                        background: #e93b39;
                        span{
                            color: white;
                        }
                        i{
                            background-position: 5px -194px;
                        }
                        .double{
                            background-position: 5px -259px;
                        }
                    }
                }
                .pro_control_price{
                    display: inline-block;
                    width: 124px;
                    height: 44px;
                    overflow: hidden;
                    margin: -10px 10px 0 0;
                    .two_inp{
                        width: 114px;
                        height: 24px;
                        padding: 10px 10px 0;
                        text-align: center;
                        vertical-align: middle;
                        overflow: hidden;
                        position: relative;
                        span{
                            width: 45px;
                            height: 22px;
                            border: 1px solid #ededed;
                            background: url(../img/list_icon.png) no-repeat;
                            background-position: 3px -281px;
                            background-color: white;
                            text-align: right;
                            display: inline-block;
                            input{
                                width: 33px;
                                height: 14px;
                                outline: none;
                                border: none;
                            }
                        }
                        i{
                            display: inline-block;
                            width: 8px;
                            height: 3px;
                            border-top: 1px solid #acacac;
                            vertical-align: middle;
                            margin-top: 5px;
                        }
                        .empty{
                            border: 1px solid #e0e0e0;
                            background: white;
                            color: #666;
                            width: 45px;
                            height: 18px;
                            line-height: 17px;
                            margin: 10px 0;
                            margin-right: 15px;
                            position: absolute;
                            left: 13px;
                            bottom: -39px;
                        }
                        .enter{
                            border: 1px solid #e0e0e0;
                            background: white;
                            color: #666;
                            width: 45px;
                            height: 18px;
                            line-height: 17px;
                            margin: 10px 0;
                            position: absolute;
                            right: 13px;
                            bottom: -39px;
                        }
                    }
                }
                .pro_control_check{
                    height: 34px;
                    display: inline-block;
                    vertical-align: top;
                    label{
                        display: inline-block;
                        padding-top: 6px;
                        padding-right: 15px;
                        color: #666;
                        input{
                            display: inline-block;
                            padding-right: 5px;
                        }
                    }
                    .selectt{
                        color: #000;
                    }
                }
                .pro_control_search{
                    width: 192px;
                    height: 44px;
                    display: inline-block;
                    overflow: hidden;
                    margin: -10px 0 0 0;
                    div{
                        position: relative;
                        width: 192px;
                        height: 24px;
                        padding: 10px 0 0;
                        span{
                            width: 149px;
                            height: 22px;
                            display: inline-block;
                            border: 1px solid #ededed;
                            background: #fff;
                            input{
                                width: 139px;
                                height: 15px;
                                border: 0;
                                padding-left: 10px;
                                margin-top: 3px;
                                color: rgb(187,182,182);
                                outline: none;
                                font-size: 12px;
                            }
                        }
                        a{
                            width: 40px;
                            height: 19px;
                            display: inline-block;
                            padding-top: 3px;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border: 1px solid #ededed;
                            text-align: center;
                            color: #666;
                            background: #fff;
                        }
                        a:hover{
                            border: 1px solid #000;
                        }
                    }
                }
                .pro_control_page{
                    position: absolute;
                    right: 30px;
                    top: 12px;
                    height: 19px;
                    a{
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        text-align: center;
                        float: left;
                        border: 1px solid #ccc;
                        i{
                            width: 6px;
                            height: 9px;
                            display: inline-block;
                            background: url(../img/list_icon.png) no-repeat -186px 0;
                        }
                        .next{
                            background: url(../img/list_icon.png) no-repeat -194px -29px;
                        }
                    }
                    span{
                        float: left;
                        height: 20px;
                        line-height: 19px;
                        padding: 0 10px;
                        color: #333;
                        b{
                            color:#e93b39;
                        }
                    }
                }
            }
        }
        #skity{
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }
        .commodity-list{
            background: #fff;
            padding: 30px 20px 2px;
            .styles:nth-child(4n){
                margin-right: 0;
            }
            .styles{
                width: 240px;
                height: 360px;
                margin: 0 25px 56px 25px;
                position: relative;
                z-index: 2;
                display: inline-block;
                .content{
                    position: relative;
                    z-index: 2;
                    .Img{
                        width: 240px;
                        height: 240px;
                    }
                    .ifo{
                        width: 240px;
                        height: 16px;
                        margin-top: 15px;
                        span{
                            color: white;
                            padding: 1px 2px;
                        }
                        .s1{
                            background: #000;
                        }
                        .s2{
                            background: #e93b39;
                        }
                    }
                    .line{
                        height: 28px;
                        padding: 8px 0 3px;
                        line-height: 15px;
                        border-top: 1px solid #ebebeb;
                        margin-top: 10px;
                        a{
                            color: #323232;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                    .Price{
                        position: relative;
                        padding-top: 3px;
                        b{
                            font-size: 12px;
                            line-height: 16px;
                        }
                        .sc{
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 38px;
                            height: 20px;
                            line-height: 20px;
                            background: url(../img/repeat.png) no-repeat 0 6px;
                            color: #999;
                            cursor: pointer;
                            text-indent: 12px;
                            display: none;
                        }
                        .sc:hover{
                            color: #e93b39;
                            background-position: 0 -29px;
                        }
                    }
                }
                .content:hover+.bgindex{
                    display: block;
                }
                .content:hover .sc{
                    display: block;
                }
                .bgindex{
                    width: 260px;
                    height: 380px;
                    border: 1px solid #ccc;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    display: none;
                }
            }
        }
    }
}


/*小火箭*/
.fixs{
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 50%;
    margin-left: 605px;
    bottom: 20%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 0 2px #666;
    em{
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../img/fixed.png) no-repeat -52px 2px;
    }
}
.fixs:hover{
    background: black;
}
.fixs:hover em{
    background-position: 0 2px;
}